@import "./src/tokens.scss";
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans";
}

h1 {
  font-size: $size-header;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: $breakpoint-tablet) {
  .container {
    max-width: 350px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .container {
    max-width: 732px;
  }
}

@media (min-width: $breakpoint-laptop) {
  .container {
    max-width: 968px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .container {
    max-width: 1140px;
  }
}
