//breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1200px;

//common sizes
$size-xs: 8px;
$size-sm: 12px;
$size-md: 16px;
$size-lg: 24px;
$size-xl: 32px;
$size-xxl: 64px;
$size-header: 28px;
$size-subheader: 20px;

//colors
$color-primary: #000;
$color-secondary: #636364;
$color-highlight: #819bb4;
$color-highlight-hover: #566879;
$color-background: #fff;

//times
$duration: 0.5s;
$delay: 0.2s;
